  <!-- Footer -->
  <footer>
    	<div class="container text-center">
          <img class="logo" src="/img/logo.png">
      </div>
      <div class="container text-center">
          <a href="mailto:info@badaccents.xyz" target="_top">info@badaccents.xyz</a>
      </div>
      <div class="social text-center">
          <a href="https://www.instagram.com/badaccentsstudio/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/BadAccentsStudio"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/company/11198619/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      </div>
  </footer>
