 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header pull-left">
                <div class="navbar-text">
                    <a class="page-scroll" href="/#page-top">
                        BAD A<span style="font-weight: 800;">C</span><span style="font-weight: 600;">C</span><span style="font-weight: 500;">E</span><span style="font-weight: 400;">N</span><span style="font-weight: 300;">T</span><span style="font-weight: 200;">S</span>
                    </a>
                </div>
            </div>

            <div class="navbar-header pull-right">
                <div class="navbar-text">
                    <a class="page-scroll" href="/process">PROCESS</a>
                    <a class="page-scroll" href="/us">US</a>
                </div>
            </div>
        </div>
    </nav>