html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    background-color: #f7f4ef;
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

hr {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid
}

p {
    margin: 0 0 25px;
}

a {
    color: #000;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #666666;
}

.light {
    font-weight: 400;
}

.strong {
    font-weight: 800;
}

.indent {
    text-indent: 50px;
}

.logo {
    width: 30px;
    margin-bottom: 10px;
}

.navbar-custom {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 19px;
    margin-bottom: 0;
    background-color: #f7f4ef;
    font-weight: 900;
}

.navbar-custom .navbar-text {
    margin-right: 0;
    margin-left: 0;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    padding-left: 3px;
    padding-right: 3px;
}

.navbar-custom a:hover,
.navbar-custom a:focus,
.navbar-custom a.active {
    color: #ff3333;
}

@media (min-width: 768px) {
    .navbar-custom {
        font-size: 37px;
    }

    .navbar-custom a {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }

    .navbar-custom {
        font-size: 52px;
    }
}

@media (min-width: 1350px) {
    .container{
        max-width: 1140px;
    }

    .navbar-custom {
        font-size: 65px;
    }
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background-color: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #f7f4ef;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-pic {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.intro .intro-label {
    background: black;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 200;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

.intro .btn-scroll {
    width: 70px;
    height: 70px;
    font-size: 40px;
    color: #000;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.intro .btn-scroll i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.intro .btn-scroll:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding-top: 150px;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}

.us-pic {
    margin-bottom: 40px;
    width: 100%;
}

.process-container {
    margin-bottom: 40px;
}

.process-shift {
    margin-bottom: 100px;
}

.process-header {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
}

.process-letter {
    font-size: 70px;
    font-weight: 800;
    margin-right: 10px;
    margin-left: 5px;
    line-height: 1em;
}

.process-title {
    font-weight: 800;
    margin-bottom: 10px;
}

section.services {
    margin-top: 40px;
}

@media (min-width: 768px) {
    section.services {
    margin-top: 60px;
}
}

.services h2 {
    font-size: 50px;
    font-weight: 900;
    margin: 0 0 40px;
}

@media (min-width: 768px) {
    .services h2 {
        text-align: center;
    }
}

.services h3 {
    font-family: 'Covered By Your Grace', cursive;
    margin: 0 0 5px;
    font-weight: 700;
}

.dd-intro h2 {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .dd-intro h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }
}

.dd-intro {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 50px 0;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    background-image: url(/img/dd/dd-intro.jpg);
    background-repeat: no-repeat;
    background-position-x: center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(min-width:767px) {
    .dd-intro {
        margin-top: 150px;
        padding: 150px 0;
        background-attachment: fixed;
    }
}

.btn-default.btn-dd {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border-color: #fff;
}

.dd-posts h2 {
    font-size: 18px;
}

@media(min-width:767px) {
    .dd-posts h2 {
        font-size: 25px;
    }
}

.dd-posts h3 {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.dd-posts .dd-post-tags {
    color: rgb(150, 150, 150);
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;
}

.dd-posts .dd-post-img-small {
    width: 100%;
    margin-bottom: 10px;
}

.dd-post .dd-post-date {
    color: rgb(150, 150, 150);
}

.dd-post h1 {
    margin-bottom: 5px;
}

.dd-post h2 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 5px;
}

.dd-post a {
    text-decoration: underline;
}

.dd-post .dd-post-img-large {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dd-post .dd-post-content {
    margin-top: 20px;
}

.dd-post .credits {
  font-size: 10px;
}


.content-section {
    padding-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 200px;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
}

ul.banner-social-buttons li {
    margin-bottom: 15px;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 30px 0;
}

footer p {
    margin: 0;
}

footer .social i {
  font-size: 20px;
  margin: 10px;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

.no-gutters {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 768px) {
    .row.vertical-align {
        display: flex;
        align-items: center;
    }
}
