<section id="process" class="container">
    <div class="row">

        <div class="col-sm-4">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="process-container">
                        <div class="process-header">
                            1
                            <div class="process-letter">L</div>
                            <div class="process-title">Peeling The Layers</div>
                        </div>
                        <p class="indent">
                            When you invite us into your world, we want to discern your brand. This is where we flex our design muscles to conduct a brand audit and contextual enquiries.
                        </p>
                    </div>

                    <div class="process-container">
                        <div class="process-header">
                            2
                            <div class="process-letter">A</div>
                            <div class="process-title">First Human Then Consumer</div>
                        </div>
                        <div class="indent">
                            Embracing empathy with our audience implies immersing ourselves with their fears, aspirations, their decision-making process and the way they relate to others.
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="hidden-xs process-shift">
                    </div>

                    <div class="process-container">
                        <div class="process-header">
                            3
                            <div class="process-letter">Y</div>
                            <div class="process-title">Seed of Thought</div>
                        </div>
                        <div class="indent">
                            No matter how big is our raw enthusiasm towards research, it is inevitably useless if it is not boiled down to generate insights, hence, truths.
                        </div>
                    </div>

                    <div class="process-container">
                        <div class="process-header">
                            4
                            <div class="process-letter">E</div>
                            <div class="process-title">Identity For Authenticity</div>
                        </div>
                        <div class="indent">
                            By removing layers of abstraction, we dictate the brand promise stating what awaits you when embracing it,  and the borders of your brand’s ownable territory.
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="process-container">
                        <div class="process-header">
                            5
                            <div class="process-letter">R</div>
                            <div class="process-title">Ways Of Seeing</div>
                        </div>
                        <div class="indent">
                            In Ways of Seeing, we figure out the design challenge of translating your brand values, personality, and essence into precise and meaningful signs.
                        </div>
                    </div>

                    <div class="process-container">
                        <div class="process-header">
                            6
                            <div class="process-letter">S</div>
                            <div class="process-title">Existential Euphoria</div>
                        </div>
                        <div class="indent">
                            We do not believe in finished solutions as they are subject to how humans interact with them. This leads to margins of subjectivity that need monitoring, evaluating and reenvisioning.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
