<section id="services" class="container services">
    <h2>Our Services</h2>

    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <h3>BRAND DIAGNOSIS</h3>
            <p>
                Contextual Enquiries<br />
                Competitive Benchmarking<br />
                Market Insight Generation<br />
            </p>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <h3>BRAND IDENTITY</h3>
            <p>
                Positioning Statement<br />
                Persona Analysis<br />
                Insight generation<br />
            </p>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <h3>BRAND SYSTEM</h3>
            <p>
                Naming &amp; Linguistics<br />
                Logo Design<br />
                Business Cards<br />
                Letterhead Traditional &amp; Digital<br />
                Social Media Kit<br />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-3">
            <h3>BRANDED CONTENT</h3>
            <p>
                Concept Ideation<br />
                Narrative Design<br />
                Digital Persona<br />
                Social Media Strategy<br />
            </p>
        </div>
        <div class="col-sm-4">
            <h3>CREATIVE CONSULTANCY</h3>
            <p>
                Launch Strategy<br />
                Branded Environment Implementation<br />
                Periodic Revisions<br />
                Strategy Iteration<br />
            </p>
        </div>
    </div>
</section>