    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <p class="indent">
                    Bad accents is born due to the wave of "irrationality seeping into classified rational professions."<br />
                    Through our pursuit of beauty, we take our part in shaping the world as our home and dealing with intangibles transforming businesses into brands. Consequently, we help your brand be part of the essential human need of understanding. 
                </p>

                <p class="indent">
                    We are obsessed with the human psyche and how, in essence, we are all tribal. Because the more we resonate with others, the more intimate we feel and the deeper our awareness of the human condition becomes.
                </p class="indent">
                
                <p class="indent">
                    We love abstract intellectual concepts that we can barely wrap our heads around because nothing satisfies us like decoding a complex scenario, unwrapping it to its seed, and then creating a new meaning out of it. 
                </p>

                <p class="indent">
                    We love popular culture and how it allows us to be quirky, patent, and contemporary because we are hungry to be part of every single thing.
                </p>

                <p class="indent">
                    You get it by now. We are not into comfort, but we take sophistication that does not take itself too seriously, very very seriously because we are constantly seeking out the humanity in brands where it is not always obvious.
                </p>
                
                <p class="indent">
                    And finally, we cannot make up our mind if this a labyrinthine or a simple puzzle, so we rely on learning to make sense of our daily urgent doubts. Because the unexamined life is one not worth living.
                </p>
            </div>
        </div>
    </section>