    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div scroll-to="#about" class="row page-scroll">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="intro-pic" src="/img/intro-b.png">
                                <div class="intro-label">BEAUTY</div>
                            </div>
                            <div class="col-xs-4">
                                <img class="intro-pic" src="/img/intro-e.png">
                                <div class="intro-label">TRUTH</div>
                            </div>
                            <div class="col-xs-4">
                                <img class="intro-pic" src="/img/intro-l.png">
                                <div class="intro-label">ECLECTIC</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="intro-pic" src="/img/intro-i.png">
                                <div class="intro-label">HUMAN</div>
                            </div>
                            <div class="col-xs-4">
                                <img class="intro-pic" src="/img/intro-e.png">
                                <div class="intro-label">CODES</div>
                            </div>
                            <div class="col-xs-4">
                                <img class="intro-pic" src="/img/intro-f.png">
                                <div class="intro-label">NARRATION</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="intro-pic" src="/img/intro-s.png">
                            </div>
                            <div class="col-xs-4">
                                <img class="intro-pic" src="/img/intro-y.png">
                            </div>
                            <div class="col-xs-4">
                                <img class="intro-pic" src="/img/intro-s.png">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="intro-pic" src="/img/intro-t.png">
                            </div>
                            <div class="col-xs-4">
                                <img class="intro-pic" src="/img/intro-e.png">
                            </div>
                            <div class="col-xs-4">
                                <img class="intro-pic" src="/img/intro-m.png">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8 col-md-offset-2  hidden-xs">
                        <div class="btn btn-scroll">
                            <i class="fa fa-angle-down animated"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
