<section id="us" class="container">

    <!-- Maria -->
    <div class="row vertical-align">
        <div class="col-sm-6 text-center">
            <img class="us-pic" src="/img/us-maria.png">
        </div>
        <div class="col-sm-6">
            <p class="indent">
                <span class="strong">Maria Jaber</span> is a Brand Strategist and Co-Founder of Bad Accents. A Damascene and The École Supérieure des Arts et techniques de la Mode graduate, she made her move to Milan after years of working in Costume Design, Fashion Buying, Product Management, along with Education.
            </p>
            <p class="indent">
                Maria recognised the need for a Branding Studio that would collaborate with brands looking for an honest eclectic voice while maintaining a worldly relevance. This realisation crystallized after years of leading a Master Course in Fashion Management at Domus Academy where most collaborations with Italian Brands asked for the same thing over and over again: who are we? Against whom are we playing? To whom are we talking? And how do we talk to them?
            </p>
            <p class="indent">
                Most amusing to Maria, is to engage in thinking sessions concerned with the role of beauty as a medium for tolerance, and Brands as vehicles to navigate our place in culture. When not contemplating design solutions, you will find her cooking a meal for her friends. Alternatively, she is reading a book, watching a film, or talking to her family.
            </p>
            <p>
                <hr style="width:50%;text-align:left;margin-left:0">
                <span class="strong"><a href="mailto:maria@badaccents.xyz" target="_top">maria@badaccents.xyz</a></span>
            </p>
        </div>
    </div>

    <br /><br /><br /><br /><br />
    
    <!-- Charlotte -->
    <div class="row vertical-align">
        <div class="col-sm-6 text-center col-sm-push-6">
            <img class="us-pic" src="/img/us-char.png">
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <p class="indent">
                <span class="strong">Charlotte Madrid</span> is a Brand Identity Developer, a persona Insight Catalyst and Co-Founder of Bad Accents. From Mexico City with a marketing and advertising background, she moves to Milan to pursue a Master in Fashion Management at Domus Academy. With an experience revolving around consumer profiling and brand identity positioning for Mexican and Italian brands, she developed a passion for uncovering truths through an understanding of the role that fashion and design play in shaping our lives as social human beings.
            </p>
            <p class="indent">
                Today, this mindset dictates her brand thinking where creativity and business coexist through a deep emotional value linking the tangible with the intangible. The quantifiable with the subjective. The utilitarian with the unexplained emotional connection.
            </p>
            <p class="indent">
                Most important to Charlotte, is to understand how fashion shapes our lives and behaviours, and how embracing a persona’s insight and the essence of a brand creates for them an equally genius and genuine connection. When not uncovering insights and developing identities, she is reading magazines and books, watching films, or just walking around with her friends.
            </p>
            <p>
                <hr style="width:50%;text-align:left;margin-left:0">
                <span class="strong"><a href="mailto:charlotte@badaccents.xyz" target="_top">charlotte@badaccents.xyz</a></span>
            </p>
        </div>
    </div>
</section>