<section id="us" class="container">

    <!-- Maria -->
    <div class="row vertical-align">
        <div class="col-sm-6 text-center">
            <img class="us-pic" src="/img/us-maria.png">
        </div>
        <div class="col-sm-6">
            <p class="indent">
                <span class="strong">Maria Jaber</span> is a Brand Strategist and Bad Accents' Creative Director. A Damascene and The École Supérieure des Arts et techniques de la Mode graduate, she made her move to Milan after years of working in Costume Design, Fashion Buying, Product Management, along with Education.
            </p>
            <p class="indent">
                Maria recognised the need for a Branding Studio that would collaborate with brands looking for an honest eclectic voice while maintaining a worldly relevance. This realisation crystallized after years of leading a Master Course in Fashion Management at Domus Academy where most collaborations with Italian Brands asked for the same thing over and over again: who are we? Against whom are we playing? To whom are we talking? And how do we talk to them?
            </p>
            <p class="indent">
                Most amusing to Maria, is to engage in thinking sessions concerned with the role of beauty as a medium for tolerance, and Brands as vehicles to navigate our place in culture. When not contemplating design solutions, you will find her cooking a meal for her friends. Alternatively, she is reading a book, watching a film, or talking to her family.
            </p>
            <p>
                <hr style="width:50%;text-align:left;margin-left:0">
                <span class="strong"><a href="mailto:maria@badaccents.xyz" target="_top">maria@badaccents.xyz</a></span>
            </p>
        </div>
    </div>

    <br /><br /><br /><br /><br />

    <!-- Halla -->
    <div class="row vertical-align">
        <div class="col-sm-6 text-center col-sm-push-6">
            <img class="us-pic" src="/img/us-halla.png">
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <p class="indent">
                <span class="strong">Halla Koudsi</span> is Bad Accents’ Art Director; a Torontonian with a global identity and a graduate of Ryerson University in Fashion Design and Visual Communication. After years of working for North American and European brands, and armed with experience in Fashion Design, Product Development, Textile & Graphic Design, she joined the Bad Accents forces to establish visual branding identities and solutions.
            </p>
            <p class="indent">
                Halla is continuously challenging the status quo and the medians that confine us into boxes of design rules. In her opinion, the only rule in design is honesty, and she is always in search of branding solutions that enable her to express her creativity freely.
            </p>
            <p class="indent">
                Most interesting to Halla, is to dive into research concerned with building design concepts, converting words to images, in the most truthful manner, which establish what a brand should look like while maintaining authenticity to its identity. When not building design concepts, you will find her watching trashy horror and sci-fi films. Alternatively, she is protesting for fairness and equality to all living things, cruising the globe to collect miniature figurines, or dancing the night away.
            </p>
            <p>
                <hr style="width:50%;text-align:left;margin-left:0">
                <span class="strong"><a href="mailto:halla@badaccents.xyz" target="_top">halla@badaccents.xyz</a></span>
            </p>
        </div>
    </div>

    <br /><br /><br /><br /><br />

    <!-- Tarek -->
    <div class="row vertical-align">
        <div class="col-sm-6 text-center">
            <img class="us-pic" src="/img/us-tarek.png">
        </div>
        <div class="col-sm-6">
            <p class="indent">
                <span class="strong">Tarek Jaber</span> is Bad Accents’ Digital Director. A Digital Strategist with over two decades of Branding and communication experience including building his agency back in 2009 attending to the UAE, KSA, Lebanese and Syrian Markets. Ultimately residing in Toronto, Canada where he became a certified Digital Strategy & Communication Management specialist from the University of Toronto.
            </p>
            <p class="indent">
                Tarek's passion for digital and social can be traced to the birth of the digital era as one of the earliest adaptors. He is fascinated by the power of striking the fine balance of distinctive yet explicit messages.
            </p>
            <p class="indent">
                His love for communication is only rivalled by an equal passion for sports, action, motion and witty people. On the go person, hungry for life and laughter. Have we mentioned dancing and music too?
            </p>
            <p>
                <hr style="width:50%;text-align:left;margin-left:0">
                <span class="strong"><a href="mailto:tarek@badaccents.xyz" target="_top">tarek@badaccents.xyz</a></span>
            </p>
        </div>
    </div>


</section>
